%h2.title=@venue.name
-@photos.each do |photo|
  =image_tag(photo.url, :style => "height: 100px; width: 100px; float: left;")
%h5{:style => 'clear:both;'}= "Twitter: @#{@venue.twitter}" if @venue.twitter.present?
%h6{:style => 'clear:both;'}= "Phone - #{@venue.phone}" if @venue.phone.present?
/ %h5= link_to("Visit #{@venue.name}", url => "#{@venue.url}") if @venue.url.present?
- if @venue.ratio > 0.0
  %h3{:style => 'clear:both;'}="Ratio = #{@venue.ratio * 100}% Girls and #{100 - (@venue.ratio * 100)}% Guys. #{@venue.name} also has a Foursquare rating of #{@venue.foursquare_rating.round(2)}."
-else
  %h3{:style => 'clear:both;'}="#{@venue.foursquare_rating.round(2) * 100}% foursquare rating"


-if !@photos.present?
  %h5= "Sorry, foursquare hasn't supplied much info on #{@venue.name}. Why don't you go out there and find out ;)"

