= form_tag '/new_map', :remote => true do
  = text_field_tag "serchmap", nil, :autofocus => true
#styled_select
  = select(:motivations, :name, options_for_select([["All Nightlife"], ["All Bars"], ["Dive Bars"], ["Gay Bars"], ["Lounges"], ["The Club Scene"]]))
#submit_button
  = submit_tag 'Cruise Joints', :class => 'test_btn'
.row
  .large-4.columns
    %h3#header_cruise Map
    #map_daddy
      #map_canvas
        = render 'map'
.row
  .large-4.columns
    .table
      .tr
      .td up for anything // bars // dive bars // gay bars // lounges // nightclubs
.row
  .five.columns
    %h3#header_cruise New Friend
    #friend_form
      = render 'friends/form'
.row
  .seven.columns
    #friends
      %table
      - @friends.each do |f|
        %tr
          %td= f.name
          %td= f.phone